{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<h1>WELCOME {{name}}
</h1>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript">


    document.addEventListener('DOMContentLoaded',() => {
    
            
            const request= new XMLHttpRequest();
            request.open("GET","/getChannels");
            console.log("dfsdz")
        
            request.onload = () => {
            const data=JSON.parse(request.responseText);
            console.log(`f${data}`);
            for ( i=0; i<data.channels.length; i++){
                const ki = document.createElement('li');
                ki.innerHTML=`#${data.channels[i]}`;
                document.querySelector("#channels").append(ki);
                console.log(`f${data}`);
            }
            
            }
            request.send();
 
        

        // Connect to websocket
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);


        socket.on('connect', () => {

            document.querySelector('#form').onsubmit = () => {
                
                const name = document.querySelector('#channelMake').value;
                console.log("make");
                socket.emit("make channel",{"name":name});
                return false;
            };
            
            document.querySelectorAll('.channel').forEach( channel => {
                channel.onclick = () => {
                console.log("pp");}
            });

            document.querySelector('#sendMessage').onsubmit = () => {
                const msg = document.querySelector("#message").value;
                socket.emit("send message", {"message":message})
            }

        });
        

        socket.on ('cast channel', data => {
            console.log(data.channel);
            //const li = document.createElement('li');
            //li.innerHTML=`#${data.channel}`;
            const ki = document.createElement('li');
            ki.innerHTML=`#${data.channel}`;
            document.querySelector("#channels").append(ki);
            console.log("pp");
            });
    });


</script>
<button id="test">test</button>
<form id="form">
    <input type="text"  id="channelMake">
    <input type="submit" value="make channel">
</form>

<ul id="channels">
</ul>

<hr>

<form id="sendMessage">
    <input type="text" name="message" id="message">
    <input type="submit">
</form>


{% endblock %}