{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<h1>WELCOME {{name}}
</h1>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript">


    document.addEventListener('DOMContentLoaded',() => {
    
        //gets channels on load    
        const request= new XMLHttpRequest();
        request.open("GET","/getChannels");
    
        request.onload = () => {
        const data=JSON.parse(request.responseText);
        for ( i=0; i<data.channels.length; i++){
            const ki = document.createElement('li');
            const but = document.createElement("button");
            but.setAttribute("onclick","clickrun(this)");
            but.setAttribute("data-name",data.channels[i]);
            ki.append(but);
            but.innerHTML=`#${data.channels[i]}`;
            document.querySelector("#channels").append(ki);
            
        }
        
        }
        request.send();

        //gets messages of previous channel on load
        //gets messages
        const request1 = new XMLHttpRequest();
        const oldChannel=localStorage.getItem("channel")
        document.querySelector("#displayChannel").innerHTML=oldChannel;
        request1.open("GET",`/getMessages/${oldChannel}`);

        request1.onload = () => {
            const data = JSON.parse(request1.responseText);
            console.log(data.messages);
            for(i=0; i<data.messages.length;i++){
                const list = document.querySelector("#testmsg");
                const msg = document.createElement("li");
                msg.innerHTML=data.messages[i];
                list.append(msg);
            }
        }
        request1.send();




        
        
        

        // Connect to websocket
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);


        socket.on('connect', () => {

            document.querySelector('#form').onsubmit = () => {
                
                const name = document.querySelector('#channelMake').value;
                socket.emit("make channel",{"name":name});
                return false;
            };
            
            

            document.querySelector('#sendMessage').onsubmit = () => {
                const msg = document.querySelector("#message");
                const channel = localStorage.getItem("channel");
                console.log(channel);
                socket.emit("send message", {"message":msg.value, "channel":channel})
                return false;
            }

           


        });
        

        socket.on ('cast channel', data => {
            const ki = document.createElement('li');
            const but = document.createElement("button");
            but.setAttribute("onclick","clickrun(this)");
            but.setAttribute("data-name",data.channel);
            ki.append(but)
            but.innerHTML=`#${data.channel}`;
            console.log(`it work: ${ki.dataset.name}`);
            document.querySelector("#channels").append(ki);
            
            });

        socket.on ("display message", data => {
            console.log(data.message);
            const li = document.createElement("li");
            li.innerHTML=data.message;
            document.querySelector("#testmsg").append(li);
        });

        
    });

    function clickrun(elem) {
        console.log(elem.dataset.name);
        console.log("clicked"); 
        localStorage.setItem("channel",elem.dataset.name);
        document.querySelector("#displayChannel").innerHTML=elem.dataset.name;
        //clears the list so new messages can be loaded
        var ul = document.getElementById("testmsg");
        var lis = ul.getElementsByTagName("li");
        while(lis.length > 0) {
	    ul.removeChild(lis[0]);
        }

        //sends the current channel info to the backend flask server
        const request = new XMLHttpRequest();
        request.open("POST","/select");

        request.onload = () => { {} } 
        const currentChannel = new FormData();
        currentChannel.append("channel",elem.dataset.name);
        request.send(currentChannel);
        
        //gets messages
        const request1 = new XMLHttpRequest();
        request1.open("GET",`/getMessages/${elem.dataset.name}`);

        request1.onload = () => {
            const data = JSON.parse(request1.responseText);
            console.log(data.messages);
            for(i=0; i<data.messages.length;i++){
                const list = document.querySelector("#testmsg");
                const msg = document.createElement("li");
                msg.innerHTML=data.messages[i];
                list.append(msg);
            }
        }
        request1.send();
    }


</script>
<form id="form">
    <input type="text"  id="channelMake">
    <input type="submit" value="make channel">
</form>

<ul id="channels">
</ul>

<hr>

<h2 id="displayChannel"></h2>

<form id="sendMessage">
    <input type="text" name="message" id="message">
    <input type="submit">
</form>


<!--tempporary-->
<ul id="testmsg">

</ul>


{% endblock %}